

#image {
  width: 700px;
  float: left;
}

#commentary {
  margin: auto;
  padding: 20px 0;
  text-align: left;
  margin-left: 400px;
}

.clear {
  clear: both;
}

#commentary .first-word {
  float: left;
  font-size: 38px;
  line-height: 1;
  margin: 2px 5px 0 0;
}

#commentary p:first-line {
  font-variant: small-caps;
  letter-spacing: 1px;
}

#commentary p:last-child {
  margin-bottom: 30px;
  padding-bottom: 30px;
}
